{% extends 'base.html' %}


{% block nav %}<li ><a href='{% url "product_create" %}'>Добавить новый продукт</a></li>{% endblock nav %}


{% block page_header %} <h1 class='main-page-header'>Часы Romanoff </h1>{% endblock page_header%}



{% block content %}

{% for code, value in choices %}
    <a href="watches/{{code}}">{{ value}}</a>
    <br/>
{% endfor %}

<form action="" method='get'>
    <label for="">Поиск по названию</label>
    <input type="text" name="search_field">
</form>


{% for product in products %}
    {% if product.product_availability >= 1 %}
        <h5>Наименование: <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h5>
        <p>Категория: {{ product.get_category_display }}</p>
        <p>Cтоимость: {{ product.price }}</p>
    {% endif %}


{% endfor %}
{% endblock %}