{% extends 'base.html' %}

{% block nav %}
<li><a href='{% url "product_create" %}'>Добавить новый продукт</a></li>
<li><a href='{% url "product_update" product.id %}'>Редактировать продукт</a></li>
<li><a href='{% url "product_delete" product.id %}'>Удалить продукт</a></li>
{% endblock nav %}

{% block page_header %}<h2>{{ product.name }}</h2>{% endblock page_header %}

{% block content %}
<h5>{{ product.price }}</h5>
<p>{{ product.get_category_display }}</p>
<p>{{ product.product_availability }}</p>
<br/>
<p>{{ product.description }}</p>


{% endblock content %}

