{% extends 'base.html' %}


{% block content %}
    <div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Продукт</th>
      <th scope="col">Количество</th>
      <th scope="col">Стоимость</th>
        <th scope="col">Сумма</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <th scope="row"></th>
          <td>{{ item.product.name }}</td>
          <td>{{ item.count }}</td>
          <td>{{ item.sum}}</td>

        <td>
            <form action="{% url 'remove_cart' item.product.pk %}" method='post'>
                {% csrf_token %}
                <input type="submit" value='Удалить'>
            </form>
        </td>>
    </tr>
        {% endfor %}
  </tbody>
    </table>
</div>
<h4>Total: {{ total }}</h4>

        <form action="{% url 'order' %}" method="post">
        {% include "partial/form.html" with button_text="Оформить заказ" %}
    </form>
{% endblock %}